In [1]:
import pandas as pd

# Membaca data dari file CSV
data_startup = pd.read_csv('50_Startups.csv')
data_startup.sample(7)

    R&D Spend  Administration  Marketing Spend       State     Profit
19   86419.70       153514.11              NaN    New York  122776.86
40   28754.33       118546.05        172795.67  California   78239.91
4   142107.34        91391.77        366168.42     Florida  166187.94
37   44069.95             NaN        197029.42  California   89949.14
17   94657.16       145077.58        282574.31    New York  125370.37
27   72107.60       127864.55        353183.81    New York  105008.31
10        NaN       110594.11        229160.95     Florida  146121.95

In [ ]:
missing_data_columns = data_startup.columns[data_startup.isnull().any()].tolist()

In [ ]:
mean_values = {column: data_startup[column].mean() for column in missing_data_columns}

In [ ]:
data_startup.fillna(mean_values, inplace=True)

In [2]:
print(data_startup.sample(7))

    R&D Spend  Administration  Marketing Spend       State     Profit
14  119943.24       156547.42        256512.92     Florida  132602.65
42   23640.93        96189.63        148001.11  California   71498.49
18   91749.16       114175.79        294919.57     Florida  124266.90
20   76253.86       113867.30        298664.47  California  118474.03
3   144372.41       118671.85        383199.62    New York  182901.99
6   134615.46       147198.87        127716.82  California  156122.51
15  114523.61       122616.84        261776.23    New York  129917.04

In [4]:
data_encoded = pd.get_dummies(data_startup, columns=['State'])

# Menampilkan hasil encoding
print(data_encoded.sample(10))

    R&D Spend  Administration  Marketing Spend     Profit  State_California  \
35   46014.02        85047.44        205517.64   96479.51             False
48     542.05        51743.15              NaN   35673.41             False
34   46426.07       157693.92        210797.67   96712.80              True
28   66051.52       182645.56        118148.20  103282.38             False
46    1315.46       115816.21        297114.46   49490.75             False
2   153441.51       101145.55        407934.54  191050.39             False
17   94657.16       145077.58        282574.31  125370.37             False
22   73994.56       122782.75        303319.26  110352.25             False
20   76253.86       113867.30        298664.47  118474.03              True
27   72107.60       127864.55        353183.81  105008.31             False

    State_Florida  State_New York
35          False            True
48          False            True
34          False           False
28           True           False
46           True           False
2            True           False
17          False            True
22           True           False
20          False           False
27          False            True

In [8]:
#3 buat field baru yaitu Tax. dimana Tax = (profit + Marketing Spend + administration) * 5%
import pandas as pd

# Membaca data dari file CSV
data_startup = pd.read_csv('50_Startups.csv')

# Menghitung Tax berdasarkan rumus yang diberikan
data_startup['Tax'] = (data_startup['Profit'] + data_startup['Marketing Spend'] + data_startup['Administration']) * 0.05

# Menampilkan hasil dengan kolom Tax baru
print(data_startup.sample(7))

    R&D Spend  Administration  Marketing Spend       State     Profit  \
21   78389.47       153773.43        299737.29    New York  111313.02
45    1000.23       124153.04          1903.93    New York   64926.08
28   66051.52       182645.56        118148.20     Florida  103282.38
44   22177.74       154806.14         28334.72  California   65200.33
40   28754.33       118546.05        172795.67  California   78239.91
37   44069.95             NaN        197029.42  California   89949.14
39   38558.51        82982.09        174999.30  California   81005.76

           Tax
21  28241.1870
45   9549.1525
28  20203.8070
44  12417.0595
40  18479.0815
37         NaN
39  16949.3575

In [7]:
#4 Jalankan standardScaler field-field tersebut

from sklearn.preprocessing import StandardScaler
import pandas as pd

# Membaca data dari file CSV
data_startup = pd.read_csv('50_Startups.csv')

# Mengambil kolom numerik untuk scaling
numeric_columns = data_startup.select_dtypes(include=['float64', 'int64']).columns

# Inisialisasi StandardScaler
scaler = StandardScaler()

# Fitting dan transformasi data
data_startup[numeric_columns] = scaler.fit_transform(data_startup[numeric_columns])

# Menampilkan hasil scaling
print(data_startup.sample(7))

    R&D Spend  Administration  Marketing Spend       State    Profit
29  -0.248746        1.152066        -1.023343    New York -0.267530
10        NaN       -0.464609         0.049023     Florida  0.845323
48  -1.695916       -2.706537              NaN    New York -1.878976
46  -1.678714       -0.265673         0.646216     Florida -1.538160
42  -1.182141       -1.013347        -0.664231  California -0.995322
25  -0.269671        0.638587        -0.752451  California -0.109677
4    1.452843       -1.196122         1.253080     Florida  1.340266